<nav class="navbar principalHeader">
    <div class="dropdown {{show ? 'show': ''}}">
        <i class="fas fa-bars" (click)="toggleMenu()" ></i>
        <div class="dropdown-menu {{show ? 'show': ''}}" >
            <a class="dropdown-item" [routerLink]="PATHS.ships">Ships</a>
            <a class="dropdown-item" [routerLink]="PATHS.pageOne">Page One</a>
            <a class="dropdown-item" [routerLink]="PATHS.pageTwo">Page Two</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

