<div class="col-md-5 col-md-offset-5 container mt-5">
    <h2 class="text-center">Iniciar sesión</h2>
    <p class="text-center">Introduzca su nombre de usuario y contraseña para acceder</p>
    <form class="form-group mt-5" [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div>
            <input
                type="text"
                class="form-control"
                placeholder="Username"
                formControlName="username"/>
            <div class="input-group-append form__required">
                <span class="colorInvalid" *ngIf="fieldIsRequired('username')">
                    <i>Username is required</i>
                </span>
            </div>
        </div>
        <div>
            <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"/>
            <div class="input-group-append form__required" >
                <span class="colorInvalid" *ngIf="fieldIsRequired('password')">
                    <i>Password is required</i>
                </span>
            </div>
        </div>
        <div class="buttons">
            <img *ngIf="dataLoading" src="/assets/img/spinner.gif" />
            <button type="submit" [disabled]="loginForm.invalid" class="btn buttons__login">Iniciar sesión</button>
            <div class="text-center">
                <span class="buttons_span">¿ Aún no tienes una cuenta?</span> <a routerLink="/register" class="btn buttons__link">Regístrate</a>
            </div>
        </div>
    </form>
</div>
