.form-control {
    border: none !important;
}
.form {
    width: 75%;
    margin: 0 auto;
    &_required {
        min-height: 20px;
        font-size: small;
    }
    &_passwordrequired {
        min-height: 60px;
        font-size: small;
    }
}

.buttons {
    text-align: center;
    margin-top: 30px;
    &_login {
        color: #fff;
        background-color: #b99d6b;
        border-color: #b99d6b;
        width: 30%;
    }
    
    &_register {
        color: #fff;
        background-color: black;
        border-color: black;
        width: 30%;
        margin-left: 30px;
    }

    &_span {
        font-family: "BasisGrotesque-Regular-Pro";
        font-weight: inherit;
        color: black;
        line-height: 16px;
        font-size: 16px;
    }
}